<div class="card-group">
  <div class="card">
    <img class="card-img-top" [src]="bike1" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Duke 800</h5>
      <p class="card-text">La KTM 890 DUKE R toma todo lo que nos gusta de la KTM 790 DUKE y sube la nota de un 10 a un 11. </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" [src]="bike2" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Panigale V4</h5>
      <p class="card-text">La Panigale V4 2022 representa el último paso en el camino característico de las motos deportivas Borgo Panigale.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" [src]="bike3" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">KTM 1290 Super Duke</h5>
      <p class="card-text">Asentada en lo más alto del reino del segmento hypernaked y con una intimidante colección de especificaciones de chasis y motor de altas prestaciones.</p>
    </div>
  </div>
</div>